<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="saveForm">
            <h2 id="jhi-track-sf-heading" jhiTranslate="ApolloApp.track.home.createOrEditLabel">Create or edit a Track</h2>
            <div>
                <sf-alert-error></sf-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ApolloApp.track.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_upload">Cloudinary upload</label>
                    <input type="file" class="form-control" name="upload" id="field_upload"
                           formControlName="upload"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ApolloApp.track.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="saveForm.invalid" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
